
 header {
   width: 100%;
   height: 55px;
   color:#5EDB3C ;
   background-color:#DB3C41 ;
   font-style: oblique;
 }
 header ul {
   margin: 0 auto;
   list-style: none;
 }
 header ul a {
   display: block;
   padding: 15px;
   text-decoration: none;
   color: white;
 }

 .header{
     font-size:20px;
     font-weight:bold;
     text-align:center;
     padding-top: 10px;
 }
 .btn{
   background-color: #54DB3C;
     text-decoration: none;
 }
 .container {
   text-align: center;
 }

 .form-group {
   font-size: 20px;
 }

.user-form{
  margin: auto;
}
h2{
  color: green;
  font-style: italic;
}

.main-container{
  padding: 40px auto;
  width: 100%;
  position: relative;
  background-color: #e2e2e2;
  height: 100%;
}

.login-form-content{
  padding: 10px 0 ;
}
.login-container{
  border-radius: 10px;
  width: 40%;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  text-align: center;
}

.wrapper{
  background: url("whiteprofile.png");
text-align: center;
}
label {
    display: block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.PostTable {
    border-collapse: separate;
    border-spacing: 15px 7px;
    margin-left : auto ;
	  margin-right : auto ;
    text-align: center;
}
.btn1 {
   display: inline-block;
   padding: 13px;
   text-decoration: none;
   background: #4087fc;
   color: white;
   border-bottom: solid 0px black;
   border-radius: 15px;
   float: right;
   margin-right: 20px;
 }
 .btn2 {
   display: inline-block;
   padding: 13px;
   text-decoration: none;
   background: #4087fc;
   color: white;
   border-bottom: solid 0px black;
   border-radius: 15px;
   float: right;
   margin-right: 50px;
 }
 .btn3 {
   display: inline-block;
   padding: 13px;
   text-decoration: none;
   background: #4087fc;
   color: white;
   border-bottom: solid 0px black;
   border-radius: 15px;
   float: right;
   margin-right: 50px;
   margin-left: 1px;
 }
